{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/trombinoscope.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Trombinoscope
{% endblock %}

{% block body %}

	{% block javascript %}
		<script src="{{ asset('js/trombinoscope.js') }}" defer></script>
	{% endblock %}

	<div class="wrapper">
		<h1>Trombinoscope</h1>
		<section class="trombinoscope">

			{# 
			- Affichage par cartes pour chaque membre
			- Composition de la carte: Photo, nom du membre (avec un petit effet sympa au survol, mais sans plus)
			
			Le clic sur chaque carte ouvre une modale en position fixed, dans laquelle s'affiche la description du membre
			#}

			{# Cards #}
				<div class="bloc-cards"> {% for membre in membres %}
					<div
						class="card">
						{# On transmet des variables pour le script js de la modale #}
						<div class="datas" data-prenom="{{ membre.prenom }}" data-nom="{{ membre.nom | upper }}" data-fonction="{{ membre.fonction }}" data-description="{{ membre.description }}" data-telephone="{{ membre.telephone }}" data-email="{{ membre.email }}" data-description="{{ membre.description }}" data-facebook="{{ membre.facebook }}" data-image="{{ membre.getPhoto() }}"></div>

						<div class="bloc-image">
							<div class="image">
								<img src="{{ asset('uploads/imagesTrombinoscope/' ~ membre.getPhoto()) }}" alt="Photo membre comité">
							</div>
						</div>
						<div class="bloc-text">
							<div class="prenom-nom">
								<div>{{ membre.prenom }}</div>
								<div>{{ membre.nom | upper }}</div>
							</div>
							<div class="fleche">
								<i class="fas fa-arrow-right fa-lg"></i>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			{# Fenêtre Modale #}

			<div id="modal" class="modal">

				<div class="modal-content">

					<div class="close" title="Fermer">
						<img src="{{ asset('images/svg/close.svg') }}" alt="Icone close">
					</div>

					<div class="hook">
						<div class="image">
							<img src="" alt="Photo membre comité">
						</div>
						<div class="nom-prenom">
							<div class="prenom"></div>
							<div class="nom"></div>
						</div>
						<div class="fonction"></div>
					</div>
					<div class="bloc-details">
						<div class="description"></div>
						<div class="infos-membre">
							<dl class="telephone">
								<dt></dt>
								<dd></dd>
							</dl>
							<dl class="email">
								<dt></dt>
								<dd></dd>
							</dl>
							<dl class="facebook">
								<dt></dt>
								<dd></dd>
							</dl>
						</div>
					</section>
				</div>
				<div class="darker-layer"></div>

			{% endblock %}
