{% extends 'components/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/trombinoscope.css') }}">
{% endblock %}
{% block title %}
{{ SiteName }}: Trombinoscope
{% endblock %}

{% block body %}

{% block javascript %}
<script src="{{ asset('js/trombinoscope.js') }}" defer></script>
{% endblock %}

<div class="wrapper">
	<h1>Trombinoscope</h1>
	<section class="trombinoscope">

		{# TODO:
		- Affichage par cartes (un peu style articles) pour chaque membre
		- Composition de la carte: Photo, nom du membre (avec un petit effet sympa au survol, mais sans plus)

		Le clic sur chaque carte ouvre une modale en position absolute, dans laquelle s'affiche la description du membre

		#}

		<div class="bloc-cards">
			{% for membre in membres %}
			<div class="card">
				<div class="bloc-image">
					<div class="image">
						<img src="{{ asset('uploads/imagesTrombinoscope/' ~ membre.getPhoto()) }}"
							alt="Photo individuelle membre comité">
					</div>
				</div>
				<div class="bloc-text">
					<div class="prenom-nom">
						<div>{{ membre.prenom }}</div>
						<div>{{ membre.nom }}</div>
					</div>
				</div>
			</div>
			{% endfor %}




		</div>

	</section>
</div>

{% endblock %}



{# <div class="bloc-cards">
	{% set n = 1 %}
	{% for membre in membres %}
	<div class="card" id="card-{{ n }}" onclick="cardClick('card-{{ n }}')">
		<div class="image">
			<img src="{{ asset('uploads/imagesTrombinoscope/' ~ membre.getPhoto()) }}" alt="">
		</div>
		<div class="zone-titre">
			<div>{{ membre.prenom }}</div>
			<div>{{ membre.nom }}</div>
		</div>
		<div class="zone-texte">
			<p class="fonction">{{ membre.fonction }}</p>
			<p>{{ membre.description | nl2br }}</p>
		</div>
	</div>
	{% set n = n + 1 %}
	{% endfor %}
</div> #}