{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Profil de
	{# J'ai utilisé un filtre twig pour maximiser la longueur d'affichage du string email à environ 15 caractères. J'ai du installer composer require twig/string-extra #}
	{{ app.user.username|u.truncate(15, '...') }}
{% endblock %}

{% block body %}

	<div class="wrapper">
		<h1>Profil</h1>
		<section class="admin">
			<div class="container0">
						{# On afficher l'email coupé sur plusieurs lignes quand l'écran devient petit #}
						<div class="breakWord center2">
							{{ app.user.username }}
						</div>
						<div class="center2">
							{# On affiche les rôles de l'utilisateur #}
							Rôles:
							{% for role in app.user.roles %}
								{% if role == "ROLE_USER" %}
									Utilisateur
								{% elseif role == "ROLE_ARTICLE_EDITOR" %}
									Editeur-articles
								{% elseif role == "ROLE_ADMIN" %}
									Admin
								{% endif %}
							{% endfor %}
						</div>
				<div class="container1">
					<ul class="liste">
						<li title="Changer son mot de passe">
							<div class="titre">Mot de passe</div>
							<a class="boutonGo" href="{{ path('profile.change.mdp') }}">Go</a>
						</li>
						<li title="Modifier l'adresse email utilisée pour s'authentifier">
							<div class="titre">Identifiant de connexion</div>
							<a class="boutonGo" href="{{ path('profile.change.login') }}">Go</a>
						</li>
					</ul>


				</div>
			</div>
		</section>
	</div>
{% endblock %}
