{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fullEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
    
{% endblock %}
{% block title %}
    {{ SiteName }}:
	{{ event.nom }}
{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{ event.nom }}</h1>
    <section class="full-event">
        <div class="image">
            <img src="{{ asset('uploads/imagesEvents/' ~ event.getImagesEvents[0].Nom) }}">
        </div>
        <div class="textes">
            <div class="info-bar">
                <div class="date-wrapper">
                    <div class="date">
                        <i class="fas fa-calendar-alt"></i>
                        {{ event.getDateEvent | date("d-m-Y") }}
                    </div>
                    <div class="time">
                        <i class="fas fa-clock"></i>
                        {{ event.getDateEvent | date("H:i") }}
                    </div>

                    {% if event.getDateEvent()|date("Y-m-d") < today|date("Y-m-d") %}
                        <div>
                            Évènement terminé
                        </div>
                    {% endif %}
                    {% if event.getAnnule() %}
                        <div class="red">
                            Évènement annulé
                        </div>
                    {% endif %}
                    {# Date, et mentions couleurs du nbr de jours avant l'event #}   
                    {% for j in 0..7 %}
                        {% if j == 0 %}
                            {% if event.getDateEvent()|date("Y-m-d") == today|date("Y-m-d")|date("Y-m-d") %}
                                <span class="green">Aujourd'hui</span>
                            {% endif %}
                            {% elseif j == 1 %}
                                {% if event.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
                                    <span class="blue">demain</span>
                                {% endif %}
                            {% else %}
                                {% if event.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
                                    <span class="blue">J-{{ j }}</span>
                                {% endif %}
                        {% endif %}    
                    {% endfor %}

                </div>
                <div class="contact">
                    <a class="bouton bt-small" href="">Contact</a>
                </div>
            </div>
            <h2 class="hook">
                {{ event.hook }}
            </h2>
            <div>
                {{ event.description }}
            </div>
        </div>
    </section>



</div>
{% endblock %}
