{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fullEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
    
{% endblock %}
{% block title %}
    {{ SiteName }}:
	{{ event.nom }}
{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{ event.nom }}</h1>
    <section class="full-event">
        <div class="image">
            <img src="{{ asset('images/2020-03-08_flyer_affiche_stage_bachata.jpg') }}" alt="">
        </div>
        <div class="textes">
            <div class="info-bar">
                <div class="date-wrapper">
                    <div class="date">
                        <i class="fas fa-calendar-alt"></i>
                        {{ event.getDateEvent | date("d-m-Y") }}
                    </div>
                    {% if event.getDateEvent() == today %}
                        <div class="green">
                            Aujourd'hui
                        </div>
                        {% elseif event.getDateEvent() == today|date_modify("+1 day") %}
                            <div class="blue">
                                Demain
                            </div>
                        {% elseif event.getDateEvent() == today|date_modify("+2 day") %}
                            <div class="blue">
                                J-2
                            </div>
                        {% elseif event.getDateEvent() == today|date_modify("+3 day") %}
                            <div class="blue">
                                J-3
                            </div>
                        {% elseif event.getDateEvent() == today|date_modify("+3 day") %}
                            <div class="blue">
                                J-3
                            </div>
                        {% elseif event.getDateEvent() < today %}
                        <div>
                            Évènement terminé
                        </div>
                    {% endif %}
                    {% if event.getAnnule() %}
                    <div class="red">
                        Évènement annulé
                    </div>
                    {% endif %}
                </div>
                <div class="contact">
                    <a class="bouton bt-small" href="">Contact</a>
                </div>
            </div>
            <h2 class="hook">
                {{ event.hook }}
            </h2>
            <div>
                {{ event.description }}
            </div>
        </div>
    </section>



</div>
{% endblock %}
