{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardEvent.css') }}">
    
{% endblock %}
{% block title %}
    {{ SiteName }}:
	{{ event.nom }}
{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{ event.nom }}</h1>
    
    <p class="test">coucou</p>

    <p class="test2">coucou2</p>


</div>
{% endblock %}
