{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Connexion
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="container-form">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div>
						Vous ếtes déjà connecté
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}

				<h1 class=>Connexion</h1>

				<div class="bloc-column">
					<label class="item-bloc" for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" required autofocus>
				</div>

				<div class="bloc-column">
					<label class="item-bloc" for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="input" required>
				</div>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
				Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				See https://symfony.com/doc/current/security/remember_me.html

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me"> Remember me
					</label>
				</div>
				#}
				{% if not app.user %}
					<p>
						<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
					</p>
				{% endif %}
				<div class="bloc-column">
					<button class="bouton width-100" type="submit">
						Connexion
					</button>
				</div>

			</form>
		</div>
	</div>
{% endblock %}
