{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Inscription
{% endblock %}

{% block body %}
	<div class="wrapper">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1>Inscription</h1>
		<div class="container-form">
			<small>Le mot de passe doit faire 8 caractères minimum, et contenir au moins:
				1 minuscule, 1 majuscule, 1 chiffre, et au moins 1 caractère spécial: & ) = ( ?
			</small>

			{{ form_errors(registrationForm) }}
			{{ form_start(registrationForm) }}

			<div class="bloc-column">
				<div>{{ form_row(registrationForm.email) }}</div>
			</div>
			<div class="bloc-column">
				<div>{{ form_row(registrationForm.plainPassword, {
            label: 'Mdp'
        }) }}
				</div>

				{# {{ form_row(registrationForm.agreeTerms) }} #}
			</div>
			<button type="submit" class="bouton">Envoyer</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
