{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Réinitialisation du mot de passe envoyée
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="container-form">
			<p>Un email contenant un lien de réinitialisation du mot de passe vient de vous être envoyé. Ce lien expire dans
				{{ tokenLifetime|date('g') }}
				heures(s).</p>
			<p>Si vous ne recevez pas cet email, regardez dans votre dossier spams, ou réessayez.</p>

			<a class="bouton" href="{{ path('app_forgot_password_request') }}">Réessayer</a>

		</div>
	</div>
{% endblock %}
