<h1>Réinitialisation du mot de passe</h1>

<p>Vous avez demandé sur le site web {{ SiteName }} à réinitialiser votre mot de passe.</p>
<p>Veuillez cliquer sur le lien suivant qui vous dirigera vers la page de réinitialisation du mot de passe.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement, {{ SiteName }}</p>
