{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Réinitialiser mon mot de passe
{% endblock %}

{% block body %}
	<div class="wrapper">
		{% for flashError in app.flashes('reset_password_error') %}
			<div class="" role="alert">{{ flashError }}</div>
		{% endfor %}
		<h1>Réinitialiser mon mot de passe</h1>
		<div class="container-form">
			<div class="bloc-column">
				{{ form_start(requestForm) }}
				{{ form_row(requestForm.email) }}
				<div>
					<small>
						Entrez votre adresse email, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
					</small>
				</div>
			</div>
			<button class="bouton">Envoyer le lien de réinitialisation</button>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}
