{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Réinitialiser mon mot de passe
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>Réinitialiser mon mot de passe</h1>
		<div class="container-form">
			<p>Le mot de passe doit compter 8 caractères minimum, et contenir au moins:
				1 minuscule, 1 majuscule, 1 chiffre, et 1 caractère spécial parmi: & ) = ( ?
			</p>

			<div class="bloc-column">
				{{ form_start(resetForm) }}
				<div class="bloc-ligne margin-0 constraints-messages">{{ form_row(resetForm.plainPassword) }}</div>
			</div>
			<button class="bouton width-100">Réinitialiser le mot de passe</button>
			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
