{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fullPageElement.css') }}">
    <link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
    
{% endblock %}
{% block title %}
    {{ SiteName }}:
	{{ communique.titre }}
{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{ communique.titre }}</h1>
    <section class="full-element">
        <div class="textes element-sans-image">
            <div class="info-bar">
                <div class="date-wrapper">
                    <div class="side-titre">Communiqué</div>
                    <div class="date">
                        <i class="fas fa-calendar-alt"></i>
                        {{ communique.getCreatedAt | date("d-m-Y") }}
                    </div>
                    <div class="time">
                        <i class="fas fa-clock"></i>
                        {{ communique.getCreatedAt | date("H:i") }}
                    </div>
                </div>
                {# On affiche la clé anglaise "gérer", quand on est connecté en admin #}
                {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
                <div class="gerer">
                    <a
                        href="{{ path('admin.communiques.edit', {id: communique.id}) }}"
                        title="Éditer le communiqué">
                            <i class="fas fa-edit fa-2x blue"></i>
                    </a>
                </div>
                {% endif %}
                <div class="contact">
                    <a class="bouton bt-small" href="">Contact</a>
                </div>
            </div>
            <h2 class="hook">
                {{ communique.hook }}
            </h2>
            <div class="contenu">
                {{ communique.contenu | nl2br | auto_link }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
