{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">

{% endblock %}
{% block title %}
	{{ SiteName }}: Administration
{% endblock %}

{% block body %}

	<div class="wrapper">

        <h1>
            Administration
        </h1>
        {# {% for message in app.flashes('succes') %}
		<div class="conteneurMessageFlash">
			<div class="messageFlash">
				{{ message }}
			</div>
		</div>
	    {% endfor %} #}

		<section class = "admin">
            <div class="container0">
                <div class="container1">
                    <ul class="liste">
                        <li title="Gérer les évènements à venir">
                            <div class="titre">Évènements à venir</div>
                            <a class="boutonGo" href="{{ path('admin.events_a_venir') }}">Go</a>
                        </li>
                        <li title="Gérer les évènements passés">
                            <div class="titre">Évènements passés</div>
                            <a class="boutonGo" href="{{ path('admin.events.passes') }}">Go</a>
                        </li>
                        <li title="Gérer les articles">
                            <div class="titre">Articles</div>
                            <a class="boutonGo" href="{{ path('admin.articles') }}">Go</a>
                        </li>
                        <li title="Gérer les tarifs">
                            <div class="titre">Tarifs</div>
                            <a class="boutonGo" href="{{ path('admin.tarifs') }}">Go</a>
                        </li>
                        <li title="Gérer les danses">
                            <div class="titre">Danses</div>
                            <a class="boutonGo" href="{{ path('admin.danses') }}">Go</a>
                        </li>
                        <li title="Gérer les photos">
                            <div class="titre">Photos</div>
                            <a class="boutonGo" href="{{ path('admin.photos') }}">Go</a>
                        </li>
                    </ul>
                    <ul class="liste">
                        <li title="Gérer les catégories">
                            <div class="titre">Catégories</div>
                            <a class="boutonGo" href="{{ path('admin.categories') }}">Go</a>
                        </li>
                    </ul>
                    <ul class="liste">
                        <li title="Mentions légales">
                            <div class="titre">Mentions légales</div>
                            <a class="boutonGo" href="{{ path('home') }}">Go</a>
                        </li>
                        <li title="Modifier l'email utilisé pour s'authentifier">
                            <div class="titre">Identifiant de connexion</div>
                            <a class="boutonGo" href="{{ path('home') }}">Go</a>
                        </li>
                        <li title="Changer son mot de passe">
                            <div class="titre">Mot de passe</div>
                            <a class="boutonGo" href="{{ path('home') }}">Go</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
