{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Éditer un utilisateur
{% endblock %}
{% block body %}

	<div class="wrapper">
		<h1>
			Éditer un utilisateur
		</h1>


		<div class="container-form">
			<div title="{{ form.vars.value.email }}">{{ form.vars.value.email }}</div>

			{{ form(form) }}

			</div>
		</div>
	{% endblock %}
