{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Modifier l'utilisateur
	{{ form.vars.value.email }}
{% endblock %}
{% block body %}

	<div class="wrapper">
		<h1>
			{{ form.vars.value.email }}
		</h1>

		<div class="container-form">
			{{ form(form) }}

			</div>
		</div>
	{% endblock %}
