{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Éditer un utilisateur
{% endblock %}
{% block body %}

	<div class="wrapper">
		<h1>
			Éditer un utilisateur
		</h1>

			<div title="{{ form.vars.value.email }}" class="breakWord center2">
				{{ form.vars.value.email }}
			</div>
			
			<div class="container-form">
				{{ form_start(form) }}
					<div class="bloc-column" id="edit-user-role-column">
						<div class="bloc-ligne large-checkbox" id="edit-user-role-ligne">
							{{ form_row(form.roles) }}
						</div>
					<button class="bouton width-100 edit-user-role-bouton">Valider</button>
					</div>
				{{ form_end(form) }}
			</div>
	</div>
		
			{# <div class="bloc-column">
				<div class="bloc-ligne large-checkbox flex-direction-column">
					{{ form(form) }}
					</div>
				</div>
			</div> #}
	{% endblock %}
