{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/adminTableCrud.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Utilisateurs
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Utilisateurs
		</h1>
		<pre>
		</pre>
		<div class="conteneur_table">

			<table class="table_1">
				<thead>
					<tr>
						<th>Email</th>
						<th>Vérifié</th>
						<th>Rôles</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					{% for user in users %}
						<tr>
							<td>
								{# Filtre twig pour maximiser la longueur d'affichage du string email à environ 15 caractères. J'ai du installer composer require twig/string-extra #}
								{{ user.email|u.truncate(15, '...') }}
							</td>
							<td>
								{% if user.verified %}
									Oui
								{% endif %}
							</td>
							<td>
								{% for role in user.roles %}
									{% if role == "ROLE_USER" %}
										User
									{% elseif role == "ROLE_ADMIN" %}
										Admin
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{# On n'affiche pas les actions pour le compte connecté #}
								{% if app.user.email == user.email %}
									<span class="iconeEditerGris" title="Compte protégé en édition, car connecté actuellement"></span>
									<button class="iconeSupprimerGris" title="Compte protégé en suppression, car connecté actuellement"></button>
								{% else %}
									<a class="iconeEditer" href="{{ path('admin.utilisateurs.editUserRole', {'id': user.id}) }}" title="Éditer"></a>
									<button class="iconeSupprimer" title="Supprimer"></button>

								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Il n'y a pas d'utilisateur inscrit</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
