{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/adminTableCrud.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Gérer les utilisateurs
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Gérer les utilisateurs
		</h1>
		<pre>
		</pre>
		<div class="conteneur_table">

			<table class="table_1">
				<thead>
					<tr>
						<th>Email</th>
						<th>Vérifié</th>
						<th>Rôles</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					{% for user in users %}
						<tr>
							<td title="{{ user.email }}">
								<div class="breakWord">
									{{ user.email }}
								</div>
							</td>
							<td>
								{% if user.verified %}
									Oui
								{% endif %}
							</td>
							<td>
								{% for role in user.roles %}
									{% if role == "ROLE_USER" %}
										User
									{% elseif role == "ROLE_ADMIN" %}
										Admin
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{# On désactive et grise les actions pour le compte connecté (en plus de la protection dans le controller) #}
								{% if app.user.email == user.email %}
									<span class="iconeEditerGris" title="Ce compte est protégé en édition, car vous l'utilisez pour cette session"></span>
									<button class="iconeSupprimerGris" title="Ce compte est protégé en suppression, car vous l'utilisez pour cette session"></button>
								{% else %}
									<a class="iconeEditer" href="{{ path('admin.utilisateurs.editUserRole', {'id': user.id}) }}" title="Éditer"></a>

									{# Formulaire avec champ caché (passer la valeur delete) pour supprimmer un user #}
									<form class="deleteForm" method="post" action="{{ path('admin.utilisateurs.delete', {id: user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer {{ user.email }} ?')">
										<input
										type="hidden" name="_method" value="DELETE"/>

										{# On créé un token #}
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"/>
										<button class="iconeSupprimer" title="Supprimer"></button>
									</form>


								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Il n'y a pas d'utilisateur inscrit</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
