{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}
	{{ SiteName }}:
	{{ nomCategorie }}
{% endblock %}

{% block body %}


	<div class="wrapper">

		<h1>{{ nomCategorie }}</h1>

		{% if articles is empty %}
			<h2>La catégorie {{ nomCategorie }} est vide</h2>
		{% endif %}

		{#
		On affiche les aperçus des articles dans des cards.
		Chaque card est cliquable, et renvoi vers la fullPage de l'article.
		#}
		<section class="articles">
			{{ include ('articles/_articlesBase.html.twig') }}
		</section>
	</div>
{% endblock %}
