{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/formulaireCrud.css') }}">
{% endblock %}


<div class="container-form">
	{{ form_start(form, {'attr':{'class':'form1'}}) }}
	<div class="ligne1">
		<div class="champ">
			{{ form_row(form.titre, {'attr':{'class':'titre'}}) }}
		</div>
		<div class="champ">
			{{ form_row(form.hook, {'attr':{'class':'titre'}}) }}
		</div>
	</div>

	<h3>Images</h3>
	<div class="images-et-captions">

		<div class="ligne1">
			<div class="champ">
				{{ form_row(form.imageFile, {'attr':{'class':'image'}}) }}
			</div>
		</div>
		{# On vérifie si la route est "admin.articles.edit", et on affiche les images #}

		{% if app.request.attributes.get('_route') == 'admin.articles.edit' %}
		{% set i = 0 %}
		{% for image in article.imagesArticles %}
		<div class="ligne2">
			<div class="vignette vignette-et-captions">
				<img src="{{ asset('uploads/imagesArticles/' ~ 'min_' ~ image.nom) }}" alt="image">
				<a class="bouton petitBouton" href="{{ path('admin.articles.image.delete', {id: image.id}) }}" data-delete
					data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer
				</a>
			</div>
			{{ i + 1 }}

			{# TODO: On affiche la légende de l'image, dans un nouveau champ #}
			{# BUG: Après la suppression d'une ou plusieurs images, il vaut mieux repasser par la page admin, puis relancer l'admin de l'article en question, si on veut rajouter d'autres images.  #}
			<div class="champ-caption">
				{{ form_row(form.ImagesArticles[i].caption, {'attr':{'class':'titre'}}) }}
			</div>
		</div>
		{% set i = i + 1 %}
		{% endfor %}
		{% endif %}
	</div>


	<div class="ligne2">
		<div class="champ">
			{{ form_row(form.created_at, {'attr':{'class':'date'}}) }}
		</div>
	</div>
	<div class="champ">
		{{ form_row(form.contenu, {'attr':{'class':'description'}}) }}
	</div>

	<div class="ligne1">
		<div class="champ">
			{# Afficher par défaut le nom de la catégorie en cours, avec une son id reçue de nouveau.html.twig #}
			{% if categorieId is defined %}
			{{ form_row(form.CategoriesArticle, {'value': categorieId}) }}
			{% else %}
			{{ form_row(form.CategoriesArticle) }}
			{% endif %}
		</div>
		<div class="champ" title="{{ articleOptionInfo.actif }}">
			{{ form_row(form.actif) }}
		</div>
		<div class="champ" title="{{ articleOptionInfo.listed }}">
			{{ form_row(form.listed) }}
		</div>
		<div class="champ" title="{{ articleOptionInfo.epingle }}">
			{{ form_row(form.epingle) }}
		</div>
	</div>

	{# Champ caché pour envoyer le referer, et permettre la redirection à la page précédente après la soumission #}
	<input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}" />

	<button>{{ button|default('Enregistrer') }}</button>
	{{ form_end(form) }}
</div>