{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Contact
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Formulaire de contact
		</h1>
		<p class="center">(Tous les champs sont obligatoires)</p>

		<div class="container-form big-width">
			{{ form_start(contactForm) }}

			<div class="bloc-ligne">
				{{ form_row(contactForm.prenom) }}
				{{ form_row(contactForm.nom) }}
			</div>

			{# Champ leurre caché pour les robots spameurs (technique du pôt de miel) #}
			<div "bloc-ligne">
				{# Nom du champ inversé avec le champ adresse_electronique plus bas (stratégie anti-spam) #}
				{{ form_row(contactForm.email) }}
			</div>

			<div class="bloc-ligne">
				{{ form_row(contactForm.tel) }}
				{# Vrai champ email #}
				{# Nom du champ inversé avec le champ caché email plus haut (stratégie anti-spam) #}
				{{ form_row(contactForm.adresse_electronique) }}
			</div>

				<div class="bloc-ligne-objet-et-message"> {{ form_row(contactForm.objet, {'value':champObjetPreRempli}) }}
				{{ form_row(contactForm.message, {'value': champMessagePreRempli}) }}
			</div>

			<div class="bloc-ligne">
				<p class="consentementRgpd">
					<input type="checkbox" class="caseACocher" id="accordDonneesPerso">
					<label for="accordDonneesPerso">
						Je consens à la collecte de mes données personnelles dans le cadre de cette demande de contact.
					</label>
				</p>
			</div>

			<div class="bloc-ligne">
				{{ form_row(contactForm.envoyer,
                  {'attr':{'disabled':'disabled',
                  'class':'buttonDisabled',
                  'id':'contact_envoyer'
                  }}
				)
				}}
			</div>

			{{ form_end(contactForm) }}

			{% block javascript %}
				<script src="{{ asset('js/checkBoxRgpdFormulaireContact.js') }}" defer></script>
				<script src="{{ asset('js/pot_de_miel.js') }}" defer></script>
			{% endblock %}

		</div>
	{% endblock %}
