{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
	<link rel="stylesheet" href="{{ asset('css/messagesEtAlertes.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Contact
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Formulaire de contact
		</h1>
		<p class="center">(Tous les champs sont obligatoires)</p>

		<div class="container-form big-width">
			{{ form_start(contactForm) }}

			<div
				class="bloc-ligne constraints-messages constraints-messages-cours">
				{# {{ form_errors(contactForm.prenom) }} #}
				{{ form_row(contactForm.prenom) }}
				{{ form_row(contactForm.nom) }}
			</div>

			{# Champ leurre caché pour les robots spameurs (technique du pôt de miel) #}
			<div
				"bloc-ligne constraints-messages constraints-messages-cours">
				{# Nom du champ inversé avec le champ informations plus bas (stratégie anti-spam) #}
				{{ form_row(contactForm.email) }}
			</div>

			<div class="bloc-ligne constraints-messages constraints-messages-cours">
				{{ form_row(contactForm.tel) }}
				{# Vrai champ email #}
				{# Nom du champ inversé avec le champ caché email plus haut (stratégie anti-spam) #}
			{{ form_row(contactForm.informations) }}
			</div>

			<div class="bloc-ligne-objet-et-message constraints-messages constraints-messages-cours"> {# Si on vient d'un article ou d'un event, on prérempli les champs objet et message #}
				{% if titre is defined and titre is not empty %}
					{# En cas de recharge de la page (en cas d'erreurs de contrainte) on réaffiche le contenu du champ objet depuis contactForm.objet.vars.value #}
					{% if contactForm.objet.vars.value is defined and contactForm.objet.vars.value is not empty %}
						{{ form_row(contactForm.objet, {'value': contactForm.objet.vars.value}) }}
					{% else %}
						{{ form_row(contactForm.objet, {'value':titre}) }}
					{% endif %}

					{# En cas de recharge de la page (en cas d'erreurs de contrainte) on réaffiche le contenu du champ message depuis contactForm.message.vars.value #}
					{% if contactForm.message.vars.value is defined and contactForm.message.vars.value is not empty %}
						{{ form_row(contactForm.message, {'value': contactForm.message.vars.value}) }}
					{% else %}
						{{ form_row(contactForm.message, {'value': 'Lien de la page:\n' ~ url('home') ~ endUrl ~ "\n\nBonjour,\n"}) }}
					{% endif %}
				{% else %}
					{{ form_row(contactForm.objet) }}
					{{ form_row(contactForm.message) }}
				{% endif %}
			</div>

			<div class="bloc-ligne">
				<p class="consentementRgpd">
					<input type="checkbox" class="caseACocher" id="accordDonneesPerso">
					<label for="accordDonneesPerso">
						Je consens à la collecte de mes données personnelles dans le cadre de cette demande de contact.
					</label>
				</p>
			</div>

			<div class="bloc-ligne">
				<p id="cocherRgpdErrorId" class="cocherRgpdError">
					Veuillez d'abord accepter le consentement
				</p>
				{# {{ form_row(contactForm.envoyer,
				{'attr':{'disabled':'disabled',
				'class':'buttonDisabled',
				'id':'contact_envoyer'
				}}
				)
				}} #}

				{{ form_row(contactForm.envoyer,
				{'attr':{'class':'buttonDisabled',
				'id':'contact_envoyer'
				}}
				)
				}}

			</div>
			{{ form_end(contactForm) }}
		</div>
	</div>
	{% block javascript %}
		<script src="{{ asset('js/checkBoxRgpdFormulaireContact.js') }}" defer></script>
		<script src="{{ asset('js/pot_de_miel.js') }}" defer></script>
		<script src="{{ asset('js/submissionContactFormDuration.js') }}" defer></script>
	{% endblock %}
{% endblock %}
