<h1>Contact formulaire Blue Angels</h1>

<p>Prénom: {{ contact.prenom }}</p>
<p>Nom: {{ contact.nom }}</p>
<p>Tel: {{ contact.tel }}</p>
<p>email: {{ contact.email }}</p>
<p>Objet: {{ contact.objet }}</p>
<p>Message: {{ contact.message }}</p>