<h1>Contact formulaire Blue Angels</h1>
<p>Pour répondre, ne pas utiliser la fonction "Répondre" du navigateur, celà répondrait au site des blueangels, mais répondre manuellement à l'adresse email de l'expéditeur du message: {{ contact.informations }}</p>

<p>Prénom: {{ contact.prenom }}</p>
<p>Nom: {{ contact.nom }}</p>
<p>Tel: {{ contact.tel }}</p>
<p>email: {{ contact.informations }}</p>{# C'est le vrai champ email #}
<p>Objet: {{ contact.objet }}</p>
<p>Message: {{ contact.message }}</p>