{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/communiquesPanel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardApercuArticle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardApercuEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="bienvenue-panel">
        <p>L'association de danses latino-rock "{{ SiteName }}" vous souhaite la bienvenue</p>
    </div>


{# ====================== Communiqués =============================== #}

{% if communiques|length > 0 %}
    <div class="communiques-panel">
        <div class="cards-wrapper">
            {% for communique in communiques %}
                <a class="card bg-white" href="{{ path('communique', {id: communique.id}) }}"
                    title="{{ communique.getTitre() }}
                        {{ communique.getHook() }}
                        Mise à jour le {{ communique.getCreatedAt()|date("d-m-Y") }}">
                    <div class="titre">
                        {{ communique.getTitre() }}
                    </div> 
                    <div class="hook">
                        {{ communique.getHook() }}
                    </div>
                    <div class="date">
                        <i class="fas fa-calendar-alt"></i>
                        {{ communique.getCreatedAt()|date("d-m-Y") }}
                    </div>
                </a>    
            {% endfor %}
        </div>
    </div>
{% endif %} 


{# ==================== Évènements à venir ============================= #}   

{% set countAVenir = countTotalEventsToCome[0][1] %}
{% set countPasse = countTotalCompletedEvents[0][1] %}

    <section class="events" id="events">
        
        <h1>Évènements à venir:
            {% if countAVenir == 0 %}
                aucun
            {% endif %}
        </h1>

        {# Provisoire, pour tester les dates #}
        <p>Nous sommes le {{ today|date("d-m-Y H:i:s") }}</p>

        <div class="bloc-cards">
            {# On affiche les 3 derniers evènements à venir #}
            {% if not eventsToCome is empty %}
                {% for eventToCome in eventsToCome %}
                    <div class="card-wraper">
                        {# Si c'est un event annulé, on affiche le tampon annulé, et on grise la carte #}
                        {% if eventToCome.getAnnule() %}
                            <div class="tampon-oblique tampon-oblique-red">Évènement annulé</div>
                            <a class="card-event card-event-grise" href="{{ path('event_', {id: eventToCome.id}) }}">
                            {% else %}
                            <a class="card-event" href="{{ path('event_', {id: eventToCome.id}) }}">
                        {% endif %}
                        <div class="image">
                            {% if eventToCome.getImagesEvents[0] is defined %}
                                {# On affiche l'image de l'event #}
                                <img src="{{ asset('uploads/imagesEvents/' ~ 'min_' ~ eventToCome.getImagesEvents[0].Nom) }}">
                                {% else %}
                                    {# On affiche l'image de remplacement par défaut #}
                                    <img title="Aucune image de disponible" src="{{ asset('images/min_imageDefaut.jpg') }}">
                            {% endif %}
                        </div>
                            <div class="bloc-text">
                                <h3 class="titre">{{ eventToCome.getNom() }}</h3>
                                <p class="hook">{{ eventToCome.getHook() }}</p>
                                <div class="center">
                                    <div class="bouton bt-inline-bloc">
                                        Voir
                                    </div>
                                </div>
                                {# Date, et mentions couleurs du nbr de jours avant l'event #}
                                <div class="infos">
                                    <i class="fas fa-calendar-alt"></i> {{ eventToCome.getDateEvent()|date("d-m-Y") }}
                                    {% for j in 0..7 %}
                                        {% if j == 0 %}
                                            {% if eventToCome.getDateEvent()|date("Y-m-d") == today|date("Y-m-d")|date("Y-m-d") %}
                                                <span class="info-jour green">Aujourd'hui</span>
                                            {% endif %}
                                            {% elseif j == 1 %}
                                                {% if eventToCome.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
                                                    <span class="info-jour blue">demain</span>
                                                {% endif %}
                                            {% else %}
                                                {% if eventToCome.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
                                                    <span class="info-jour blue">J-{{ j }}</span>
                                                {% endif %}
                                        {% endif %}    
                                    {% endfor %}

                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="boutonsPassesFuturs">
            {% if (countPasse > 0) and (countAVenir == 0) %}
                <a class="bouton bt2 boutonFlecheGauche" href="{{ path('completed_events') }}">
                    <i class="fas fa-arrow-left fa-lg flecheGauche"></i>
                    Anciens évènements
                </a>
            {% endif %}
            {% if countAVenir > 3 %}
                <a class="bouton bt2 boutonFlecheDroite" href="{{ path('a_venir') }}">
                    Voir tout ({{ countAVenir  }})
                    <i class="fas fa-arrow-right fa-lg flecheDroite"></i>
                </a>
            {% endif %}
        </div>
    </section>


{# ====================== Articles ======================== #}

    <section class="articles">
        {#
            On affiche les 3 derniers articles par ordre de création.
            Chaque article est cliquable, et renvoi vers la page de l'article
            On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h1>Derniers articles</h1>
        <div class="bloc-cards">
            {% for article in articles %}
                <a class="card-article" href="{{ path('article', {id: article.id}) }}">
                    {% if article.getImagesArticles[0].getNom() is defined %}
                        <div class="image">
                            <img src="{{ asset('uploads/imagesArticles/' ~ 'min_' ~ article.getImagesArticles[0].Nom) }}" alt="">
                        </div>
                    {% endif %}
                    <div class="bloc-text">
                        <h3 class="titre">{{ article.getTitre() }}</h3>
                        <div class="hook">{{ article.getHook() }}</div>
                        <div class="center">
                            <div class="bouton bt-inline-bloc">
                                Voir
                            </div>
                        </div>
                        <div class="infos">
                            <i class="fas fa-calendar-alt"></i>
                            {{ article.getCreatedAt()|date("d-m-Y") }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="boutonsPassesFuturs">
            <a class="bouton boutonFlecheDroite" href="{{ path('articles') }}">
                Voir tout
                <i class="fas fa-arrow-right fa-lg flecheDroite"></i>
            </a>
        </div>
    </section>
</div>
{% endblock %}
