{% extends 'components/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}
{{ SiteName }}: Accueil
{% endblock %}


{% block body %}
{# =============================================================== #}
{# Mini-barre de news qui affiche le dernier article épinglé #}
{% if articleForBarreNews is not empty and afficherBarrenews.actif %}
	<div class="barre-news-wrapper">
		<div class="barre-news">
			<a  href="{{ path('article', {id: articleForBarreNews.id}) }}" title="{{ articleForBarreNews.titre }} | {{ articleForBarreNews.hook }}">
				<div class="articleForBarreNews">
					<div class="titre-articleForBarreNews">
						<i class="fas fa-lg fa-thumbtack icone-titre-articleForBarreNews yellow"></i>
							{{ articleForBarreNews.titre }}:
					</div>
					<div class="hook-articleForBarreNews">
						{{ articleForBarreNews.hook }}
					</div>
					<div class="contenu-articleForBarreNews">
						-&nbsp;&nbsp;{{ articleForBarreNews.contenu }}
					</div>
				</div>
			</a>
		</div>

	</div>
{% endif %}


<div class="wrapper">

	<h1 class="bienvenue-panel">
		Accueil
	</h1>

	{# ==================== Évènements à venir ============================= #}

	{% set countAVenir = countTotalEventsToCome[0][1] %}
	{% set countPasse = countTotalCompletedEvents[0][1] %}

	<section class="events" id="events">
		{% if countAVenir > 0 %}
		<h2>Évènements à venir:</h2>
		</br>
		{# {% else %}
		<h2>Aucun évènement à venir</h2> #}
		{% endif %}

		{# Provisoire, pour tester les dates #}
		{# <p>Nous sommes le
			{{ today|date("d-m-Y H:i:s") }}</p> #}

		{{ include ('events/_eventsBase.html.twig') }}

		<div class="boutonsVoir">
			{# {% if (countPasse > 0) and (countAVenir == 0) %}
			<a class="bouton bt2 boutonFlecheGauche" href="{{ path('completed_events') }}">
				<i class="fas fa-arrow-left fa-lg flecheGauche"></i>
				Évènements passés
			</a>
			{% endif %} #}
			{% if countAVenir > 3 %}
			<a class="bouton bt2 boutonFlecheDroite" href="{{ path('a_venir') }}">
				Suite ({{ countAVenir }})
				<i class="fas fa-arrow-right fa-lg flecheDroite"></i>
			</a>
			{% endif %}
		</div>
	</section>


	{# ====================== Articles ======================== #}

	<section class="articles">
		<h2>Derniers articles</h2>
		{#
		On affiche les aperçus des 3 premiers articles dans des cards. Sauf ceux dont l'option "Listé dans home" est décochée.
		Chaque card est cliquable, et renvoi vers la fullPage de l'article.
		On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
		#}
		{{ include ('articles/_articlesBase.html.twig') }}

		<div class="boutonsVoir">
			<a class="bouton boutonFlecheDroite" href="{{ path('articles') }}">
				Tous les articles
				<i class="fas fa-arrow-right fa-lg flecheDroite"></i>
			</a>
		</div>
	</section>
</div>
{# {{ today|date }} #}
{% endblock %}