{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('css/home.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('css/cards.css') }}">
    <link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}HomePage{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>HomePage</h1>
    
    <section class="communique">
        {# On affiche les 3 derniers communiqués par ordre de création.
           Chaque communiqués est cliquable, et renvoi vers la page de l'communiqués
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Communiqués</h2>
        <div class="bloc-cards">
            {% for communique in communiques %}
                <div class="card-article">
                    <div>{{ communique.getTitre() }}</div>
                    <div>{{ communique.getCreatedAt()|date("d-m-Y") }}</div>
                    <div>{{ communique.getHook() }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>


    <section class="articles">
        {# On affiche les 3 derniers articles par ordre de création.
           Chaque article est cliquable, et renvoi vers la page de l'article
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Derniers articles</h2>
        <div class="bloc-cards">
            {% for article in articles %}
                <div class="card-article">
                    <div>{{ article.getTitre() }}</div>
                    <div>{{ article.getCreatedAt()|date("d-m-Y") }}</div>
                    <div>{{ article.getHook() }}</div>
                </div>
            {% endfor %}
        </div>



    </section>
    <hr>


    <section class="events">
        {# On affiche jusqu'à 3 events futurs
           S'il y en a moins ou pas (soit N), on complète à gauche 3 - N events passés.
           Chaque event est cliquable, et renvoi vers la page de l'event
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        {% set aVenir = countTotalEventsToCome[0][1] %}
        <h2>Évènements à venir</h2>
        {# Provisoire, pour tester les dates #}
        <p>Nous sommes le {{ today|date("d-m-Y") }}</p>

        <div class="bloc-cards">

            {# TODO:  Affichage des évènements annulés #}

            {# Évènements futurs #}
            {% if not eventsToCome is empty %}
                {% for eventToCome in eventsToCome %}
                    <div class="card-wraper">
                        {% if eventToCome.getAnnule() %}
                            <div class="tampon-oblique tampon-oblique-red">Évènement annulé</div>
                            <div class="card-event card-event-grise">
                            {% else %}
                            <div class="card-event">
                        {% endif %}
                            {% if not eventToCome.getImagesEvents() is empty %}
                                <div class="image">
                                    <img src="{{ asset('images/2020-03-08_flyer_affiche_stage_bachata.jpg') }}" alt="">
                                </div>
                            {% endif %}
                            <div class="bloc-text">
                                <h3 class="titre">{{ eventToCome.getNom() }}</h3>
                                <p class="hook">{{ eventToCome.getHook() }}</p>
                                <div class="bouton">Voir</div>
                                <div class="infos">
                                    <i class="fas fa-calendar-alt"></i> {{ eventToCome.getDateEvent()|date("d-m-Y") }}
                                    {% if eventToCome.getDateEvent()|date("d-m-Y") == today|date("d-m-Y") %}
                                        <span class="info-jour green">Aujourd'hui</span>
                                    {% elseif eventToCome.getDateEvent()|date("d-m-Y") == today|date_modify("+1 day")|date("d-m-Y") %}
                                        <span class="info-jour blue">Demain</span>
                                    {% elseif eventToCome.getDateEvent()|date("d-m-Y") == today|date_modify("+2 day")|date("d-m-Y") %}
                                        <span class="info-jour blue">J+2</span>
                                    {% elseif eventToCome.getDateEvent()|date("d-m-Y") == today|date_modify("+3 day")|date("d-m-Y") %}
                                        <span class="info-jour blue">J+3</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {# Évènements passés #}
            {% if not completedEvents is empty %}
                {% for completedEvent in completedEvents %}
                    <div class="card-wraper">
                        {% if completedEvent.getAnnule() %}
                            <div class="tampon-oblique tampon-oblique-red">Évènement annulé</div>
                        {% else %}
                            <div class="tampon-oblique">Évènement terminé</div>
                        {% endif %}
                        <div class="card-event card-event-grise">
                            {% if not completedEvent.getImagesEvents() is empty %}
                                <div class="image">
                                    <img src="{{ asset('images/2020-03-08_flyer_affiche_stage_bachata.jpg') }}" alt="">
                                </div>
                            {% endif %}
                            <div class="bloc-text">
                                <h3 class="titre">{{ completedEvent.getNom() }}</h3>
                                <p class="hook">{{ completedEvent.getHook() }}</p>
                                <div class="bouton">Voir</div>
                                <div class="infos">
                                    <i class="fas fa-calendar-alt"></i> {{ completedEvent.getDateEvent()|date("d-m-Y") }}
                                    <span class="info-jour">Terminé</span>
                                </div>
                            </div>
                        </div>
                    </div>    
                {% endfor %}
            {% endif %}


            
        </div>
        <div class="boutonsPassesFuturs">
            <div class="bouton bt2">Tous les évènements passés</div>
            {% if aVenir > 3 %}
                <div class="bouton bt2">Tous les évènements à venir (+ {{ aVenir -3 }} )</div>
            {% endif %}
        </div>


{# Si la date de l'event est à "today +1" #}
{# {% if eventToCome.getDateEvent()|date("d-m-Y") == today|date_modify("+1 day")|date("d-m-Y") %} #}
{# Utiliser data attributes qui seront récupérés dans un js, ou l'on pourra styler #}
{# <div></div> #}
{# {% endif %} #}


{# On récupère la première image #}
{# <div>{{ eventToCome.getImagesEvents()[0].getNom() }}</div> #}
{# Categorie #}
{# <div>{{ eventToCome.getImagesEvents()[0].getCategoriesImage().getNom() }}</div> #}
    </section>
    <hr>
</div>
{% endblock %}
