{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cards.css') }}">
{% endblock %}
{% block title %}HomePage{% endblock %}
{% block body %}

    {# Variables transmises #}
    {# {{ dump('Evènements passés:', completedEvents) }} #}
    {# {{ dump('Evènements futurs:', eventsToCome) }} #}
    
    

<div class="wrapper">
    <h1>HomePage</h1>

    <section class="infos">
        <h2>Infos</h2>

    </section>
<hr>

    <section class="articles">
        <h2>Articles</h2>

    </section>
<hr>

    <section class="events">
        <h2>Évènements</h2>

        {# Évènements passés #}
        <span class="bloc-cards">
            {% if not completedEvents is empty %}
                {% for completedEvent in completedEvents|reverse %}
                    <div class="card-event completed">
                        {{ completedEvent.titre }}
                        <div>
                            {# On récupère la première image, et sa catégorie, associées à l'event #}
                            {{ completedEvent.getImagesEvents()[0].getNom() }}
                            {{ completedEvent.getImagesEvents()[0].getImagesCategorie().getNom() }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </span>

        {# Évènements futurs #}
        <span class="bloc-cards">
            {% if not eventsToCome is empty %}
                {% for eventToCome in eventsToCome %}
                    <div class="card-event">
                        {{ eventToCome.titre }}
                        <div>
                            {# TODO: Même principe que dans les events passés pour récupérer les infos #}
                            {{ eventToCome.getImagesEvents()[0].getNom() }}
                            {{ eventToCome.getImagesEvents()[0].getImagesCategorie().getNom() }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </span>

    </section>
    <hr>
</div>
{% endblock %}
