{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
	<link rel="stylesheet" href="{{ asset('css/cardApercuEvent.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Bienvenue
{% endblock %}


{% block body %}

	<div class="wrapper">
		<h1 class="bienvenue-panel">
			Bienvenue
		</h1>


		{# ====================== Articles ======================== #}

		<section
			class="articles">
			{#
			On affiche les aperçus des 3 premiers articles, dont en priorité les épinglés s'il y en a, dans des cards.
			Chaque card est cliquable, et renvoi vers la fullPage de l'article.
			On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
			#}
			{{ include ('articles/_articlesBase.html.twig') }}

			<div class="boutonsVoir">
				<a class="bouton boutonFlecheDroite" href="{{ path('articles') }}">
					Tous les articles
					<i class="fas fa-arrow-right fa-lg flecheDroite"></i>
				</a>
			</div>
		</section>


		{# ==================== Évènements à venir ============================= #}

		{% set countAVenir = countTotalEventsToCome[0][1] %}
		{% set countPasse = countTotalCompletedEvents[0][1] %}

		<section class="events" id="events">


			{% if countAVenir > 0 %}
				<h1>Évènements à venir</h1>
			{% else %}
				<h1>Aucun évènement à venir</h1>
			{% endif %}

			{# Provisoire, pour tester les dates #}
			{# <p>Nous sommes le
				{{ today|date("d-m-Y H:i:s") }}</p> #}

			<div
				class="bloc-cards">
				{# On affiche les 3 derniers evènements à venir #}
				{% if not eventsToCome is empty %}
					{% for eventToCome in eventsToCome %}
						<div
							class="card-wraper">
							{# Si c'est un event annulé, on affiche le tampon annulé, et on grise la carte #}
							{% if eventToCome.getAnnule() %}
								<div class="tampon-oblique tampon-oblique-red">Évènement annulé</div>
								<a class="card-event card-event-grise" href="{{ path('event_', {id: eventToCome.id}) }}">
								{% else %}
									<a class="card-event" href="{{ path('event_', {id: eventToCome.id}) }}">
									{% endif %}
									<div class="image">
										{% if eventToCome.getImagesEvents[0] is defined %}
											{# On affiche l'image de l'event #}
											<img src="{{ asset('uploads/imagesEvents/' ~ 'min_' ~ eventToCome.getImagesEvents[0].Nom) }}">
										{% else %}
											{# On affiche l'image de remplacement par défaut #}
											<img title="Aucune image de disponible" src="{{ asset('images/min_imageDefaut.jpg') }}">
										{% endif %}
									</div>
									<div class="bloc-text">
										<h3 class="titre">{{ eventToCome.getNom() }}</h3>
										<p class="hook">{{ eventToCome.getHook() }}</p>
										<div class="center">
											<div class="bouton bt-inline-bloc">
												Voir
											</div>
										</div>
										{# Date, et mentions couleurs du nbr de jours avant l'event #}
										<div class="infos">
											<div class="events-date">
												<i class="fas fa-calendar-alt"></i>
												{{ eventToCome.getDateEvent()|date("d-m-Y") }}
											</div>
											{% if eventToCome.ImagesEvents | length > 1 %}
												<div class="events-nbr-images">
													<i class="fas fa-file-image"></i>
													{{ eventToCome.ImagesEvents | length }}
												</div>
											{% endif %}
											{# De 0 à j jours avant l'event #}
											{% for j in 0..7 %}
												{% if j == 0 %}
													{% if eventToCome.getDateEvent()|date("Y-m-d") == today|date("Y-m-d")|date("Y-m-d") %}
														<span class="info-jour green">Aujourd'hui</span>
													{% endif %}
												{% elseif j == 1 %}
													{% if eventToCome.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
														<span class="info-jour blue">demain</span>
													{% endif %}
												{% else %}
													{% if eventToCome.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
														{# On affiche j - le nbre de jours avant l'event #}
														<span class="info-jour blue">J-{{ j }}</span>
													{% endif %}
												{% endif %}
											{% endfor %}

										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>

				<div class="boutonsVoir">
					{% if (countPasse > 0) and (countAVenir == 0) %}
						<a class="bouton bt2 boutonFlecheGauche" href="{{ path('completed_events') }}">
							<i class="fas fa-arrow-left fa-lg flecheGauche"></i>
							Anciens évènements
						</a>
					{% endif %}
					{% if countAVenir > 3 %}
						<a class="bouton bt2 boutonFlecheDroite" href="{{ path('a_venir') }}">
							Voir tout ({{ countAVenir }})
							<i class="fas fa-arrow-right fa-lg flecheDroite"></i>
						</a>
					{% endif %}
				</div>
			</section>
		</div>
	{% endblock %}
