{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardApercuCommunique.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardApercuArticle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardApercuEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}

<div class="wrapper">
{# ================================================================= #}    
    <section class="communiques">
        {# TODO: #}
        {#
            On affiche les derniers communiqués par ordre inverse de création (minimum: aucun, maximum: 3)
            Chaque communiqués est cliquable, et renvoi vers la page du communiqué
        #}
        <div class="bloc-cards">
            {% set countAVenir = countTotalEventsToCome[0][1] %}
            {% set countPasse = countTotalCompletedEvents[0][1] %}
            {# Affiche le nbre d'events à venir dans une notification #}
            {# <a class="events-notification" href="#events" title="Évènements à venir: {{ countAVenir }}">
                Évènements à venir: {{ countAVenir }}
                <span class="bt-extra-small-arrow bt-color">
                    <i class="fas fa-arrow-right fa-sm"></i>
                </span>
            </a> #}

            {% for communique in communiques %}
                <a class="card-communique" href="" title="{{ communique.getTitre() }} - {{ communique.getHook() }} - Mise à jour: {{ communique.getCreatedAt()|date("d-m-Y") }}">
                    <div class="titre">
                        {{ communique.getTitre() }}:
                    </div> 
                    <div class="hook">
                        {{ communique.getHook() }}
                    </div>
                    {# <div class="date">
                        {{ communique.getCreatedAt()|date("d-m-Y") }}
                    </div> #}
                    <span class="bt-extra-small-arrow bt-color">
                        <i class="fas fa-arrow-right fa-sm"></i>
                    </span>
                </a>
            {% endfor %}
        </div>
    </section>



{# ================================================================= #}

    <section class="events" id="events">
        {#
            On tente d'afficher les 3 évènements futurs. S'il y en a moins ou aucun, on complète avec des évènements passés grisés.
            Il y a dans la mesure du possible, toujours 3 évènements d'affichés.
            Chaque évènement est cliquable, et renvoi vers la page de l'évènement
        #}
        
        
        <h2>Évènements</h2>
        {# Provisoire, pour tester les dates #}
        <p>Nous sommes le {{ today|date("d-m-Y") }}</p>

        <div class="bloc-cards">

            {# On affiche les evènements futurs #}
            {% if not eventsToCome is empty %}
                {% for eventToCome in eventsToCome %}
                    <div class="card-wraper">
                        {# Si c'est un event annulé, on affiche le tampon annulé, et on grise la carte #}
                        {% if eventToCome.getAnnule() %}
                            <div class="tampon-oblique tampon-oblique-red">Évènement annulé</div>
                            <a class="card-event card-event-grise" href="{{ path('event_', {id: eventToCome.id}) }}">
                            {% else %}
                            <a class="card-event" href="{{ path('event_', {id: eventToCome.id}) }}">
                        {% endif %}
                            {% if not eventToCome.getImagesEvents() is empty %}
                                <div class="image">
                                    <img src="{{ asset('images/2020-03-08_flyer_affiche_stage_bachata.jpg') }}" alt="">
                                </div>
                            {% endif %}
                            <div class="bloc-text">
                                <h3 class="titre">{{ eventToCome.getNom() }}</h3>
                                <p class="hook">{{ eventToCome.getHook() }}</p>
                                <div class="center">
                                    <div class="bouton bt-inline-bloc">
                                        Voir
                                    </div>
                                </div>
                                {# Date, et mentions couleurs du nbr de jours avant l'event #}
                                <div class="infos">
                                    <i class="fas fa-calendar-alt"></i> {{ eventToCome.getDateEvent()|date("d-m-Y") }}
                                    {% if eventToCome.getDateEvent() == today %}
                                        <span class="info-jour green">Aujourd'hui</span>
                                    {% elseif eventToCome.getDateEvent() == today|date_modify("+1 day") %}
                                        <span class="info-jour blue">Demain</span>
                                    {% elseif eventToCome.getDateEvent() == today|date_modify("+2 day") %}
                                        <span class="info-jour blue">J-2</span>
                                    {% elseif eventToCome.getDateEvent() == today|date_modify("+3 day") %}
                                        <span class="info-jour blue">J-3</span>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}

            {# On affiche les évènements passés #}
            {% if not completedEvents is empty %}
                {% for completedEvent in completedEvents %}
                    <div class="card-wraper">
                        {# Si c'est un event annulé, on affiche le tampon annulé, sinon, on affiche le tempon terminé #}
                        {% if completedEvent.getAnnule() %}
                            <div class="tampon-oblique tampon-oblique-red">Évènement annulé</div>
                        {% else %}
                            <div class="tampon-oblique">Évènement terminé</div>
                        {% endif %}
                        <a class="card-event card-event-grise" href="{{ path('event_', {id: completedEvent.id}) }}">
                            {% if not completedEvent.getImagesEvents() is empty %}
                                <div class="image">
                                    <img src="{{ asset('images/rail.jpg') }}" alt="">
                                </div>
                            {% endif %}
                            <div class="bloc-text">
                                <h3 class="titre">{{ completedEvent.getNom() }}</h3>
                                <p class="hook">{{ completedEvent.getHook() }}</p>
                                <div class="center">
                                    <div class="bouton bt-inline-bloc">
                                        Voir
                                    </div>
                                </div>
                                {# Date, et mention terminé #}
                                <div class="infos">
                                    <i class="fas fa-calendar-alt"></i> {{ completedEvent.getDateEvent()|date("d-m-Y") }}
                                    <span class="info-jour">Terminé</span>
                                </div>
                            </div>
                        </a>
                    </div>    
                {% endfor %}
            {% endif %}
        </div>

        <div class="boutonsPassesFuturs">
            {% if countPasse > 0 %}
                <a class="bouton bt2" href="">Évènements terminés</a>
            {% endif %}
            {% if countAVenir > 3 %}
                <a class="bouton bt2" href="">Tous les évènements à venir ({{ countAVenir  }})</a>
            {% endif %}
        </div>
    </section>


{# ================================================================= #}
    <section class="articles">
        {#
            On affiche les 3 derniers articles par ordre de création.
            Chaque article est cliquable, et renvoi vers la page de l'article
            On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Articles</h2>
        <div class="bloc-cards">
            {% for article in articles %}
                <a class="card-article" href="">
                    {% if article.getImagesArticles()[0].getNom() is not empty %}
                        <div class="image">
                            <img src="{{ asset('images/8.jpg') }}" alt="">
                        </div>
                    {% endif %}
                    <div class="bloc-text">
                        <h3 class="titre">{{ article.getTitre() }}</h3>
                        <div class="hook">{{ article.getHook() }}</div>
                        <div class="center">
                            <div class="bouton bt-inline-bloc">
                                Voir
                            </div>
                        </div>
                        <div class="infos">
                            <i class="fas fa-calendar-alt"></i>
                            {{ article.getCreatedAt()|date("d-m-Y") }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="boutonsPassesFuturs">
            <a class="bouton" href="">Tous les articles</a>
        </div>
    </section>

{# ================================================================= #}



</div>
{% endblock %}
