{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cards.css') }}">
{% endblock %}
{% block title %}HomePage{% endblock %}

{% block body %}

    {# Variables transmises #}
    {# {{ dump('Evènements passés:', completedEvents) }} #}
    {# {{ dump('Evènements futurs:', eventsToCome) }} #}
    
    

<div class="wrapper">
    <h1>HomePage</h1>

    <section class="infos">
        {# TODO:  #}
        <h2>Infos</h2>

    </section>
<hr>


    <section class="articles">
        {# TODO: On affiche les 3 derniers articles par ordre inverse chronologique. (les plus anciens vers la gauche)
           Chaque article est cliquable, et renvoi vers la page de l'article
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Articles</h2>

    </section>
<hr>


    <section class="events">
        {# On affiche jusqu'à 3 events futurs (les plus anciens vers la gauche)
           S'il y en a moins ou pas (soit N), on complète à gauche 3 - N events passés.
           Chaque Event est cliquable, et renvoi vers la page de l'event
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Évènements</h2>
        {# Provisoire, pour tester les dates #}
        <p>Nous sommes le {{ today|date("d-m-Y") }}</p>
        <div class="bloc-cards">

            {# Évènements passés #}
            {% if not completedEvents is empty %}
                {% for completedEvent in completedEvents|reverse %}
                    <div class="card-event completed">
                        <div>{{ completedEvent.nom }}</div>
                        <div>Le {{ completedEvent.getDateEvent()|date("d-m-Y") }}</div>
                        <div>
                            {% if not completedEvent.getImagesEvents() is empty %}
                                {# On récupère la première image, et sa catégorie, associées à l'event #}
                                <div>{{ completedEvent.getImagesEvents()[0].getNom() }}</div>
                                <div>{{ completedEvent.getImagesEvents()[0].getCategoriesImage().getNom() }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {# Évènements futurs #}
            {% if not eventsToCome is empty %}
                {% for eventToCome in eventsToCome %}
                    <div class="card-event">
                        <div>{{ eventToCome.nom }}</div>
                        <div>Le {{ eventToCome.getDateEvent()|date("d-m-Y") }}</div>
                        <div>
                            {% if not eventToCome.getImagesEvents() is empty %}
                                {# Même principe que dans les events passés pour récupérer les infos #}
                                <div>{{ eventToCome.getImagesEvents()[0].getNom() }}</div>
                                <div>{{ eventToCome.getImagesEvents()[0].getCategoriesImage().getNom() }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>

    </section>
<hr>
</div>
{% endblock %}
