{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cards.css') }}">
{% endblock %}
{% block title %}HomePage{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>HomePage</h1>
    
    <section class="communique">
        {# On affiche les 3 derniers communiqués par ordre de création.
           Chaque communiqués est cliquable, et renvoi vers la page de l'communiqués
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Communiqués</h2>
        <div class="bloc-cards">
            {% for communique in communiques %}
                <div class="card-article">
                    <div>{{ communique.getTitre() }}</div>
                    <div>{{ communique.getCreatedAt()|date("d-m-Y") }}</div>
                    <div>{{ communique.getHook() }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
<hr>


    <section class="articles">
        {# On affiche les 3 derniers articles par ordre de création.
           Chaque article est cliquable, et renvoi vers la page de l'article
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Derniers articles</h2>
        <div class="bloc-cards">
            {% for article in articles %}
                <div class="card-article">
                    <div>{{ article.getTitre() }}</div>
                    <div>{{ article.getCreatedAt()|date("d-m-Y") }}</div>
                    <div>{{ article.getHook() }}</div>
                </div>
            {% endfor %}
        </div>



    </section>
<hr>


    <section class="events">
        {# On affiche jusqu'à 3 events futurs
           S'il y en a moins ou pas (soit N), on complète à gauche 3 - N events passés.
           Chaque event est cliquable, et renvoi vers la page de l'event
           On affiche un lien "voir tout" pour renvoyer vers la page de la totalité des aperçus.
        #}
        <h2>Évènements à venir: {{ countTotalEventsToCome[0][1] }}</h2>
        {# Provisoire, pour tester les dates #}
        <p>Nous sommes le {{ today|date("d-m-Y") }}</p>
        <div class="bloc-cards">


            {# Évènements futurs #}
            {% if not eventsToCome is empty %}
                {% for eventToCome in eventsToCome %}
                    <div class="card-event">
                        {% if not eventToCome.getImagesEvents() is empty %}
                            <div class="image">
                                <img src="{{ asset('images/2020-03-08_flyer_affiche_stage_bachata.jpg') }}" alt="">
                                <h3 class="titre">{{ eventToCome.getNom() }}</h3>
                            </div>
                        {% endif %}

                        <div class="text">
                            
                            <div>{{ eventToCome.getHook() }}</div>
                            <div>Le {{ eventToCome.getDateEvent()|date("d-m-Y") }}</div>
                        </div>
                        
                    </div>
                {% endfor %}
            {% endif %}





            {# Évènements passés #}
            {% if not completedEvents is empty %}
                {% for completedEvent in completedEvents %}
                    <div class="card-event completed">
                        {% if not completedEvent.getImagesEvents() is empty %}
                            <div class="image">
                                <img src="{{ asset('images/rail.jpg') }}" alt="">
                            </div>
                            {# On récupère la première image #}
                            <div>{{ completedEvent.getImagesEvents()[0].getNom() }}</div>
                            {# Categorie #}
                            {# <div>{{ completedEvent.getImagesEvents()[0].getCategoriesImage().getNom() }}</div> #}
                        {% endif %}
                        <div>{{ completedEvent.getNom() }}</div>
                        <div>Le {{ completedEvent.getDateEvent()|date("d-m-Y") }}</div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>


{# Si la date de l'event est à "today +1" #}
{# {% if eventToCome.getDateEvent()|date("d-m-Y") == today|date_modify("+1 day")|date("d-m-Y") %} #}
{# Utiliser data attributes qui seront récupérés dans un js, ou l'on pourra styler #}
{# <div></div> #}
{# {% endif %} #}


{# On récupère la première image #}
{# <div>{{ eventToCome.getImagesEvents()[0].getNom() }}</div> #}
{# Categorie #}
{# <div>{{ eventToCome.getImagesEvents()[0].getCategoriesImage().getNom() }}</div> #}
    </section>
<hr>
</div>
{% endblock %}
