<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/messagesEtAlertes.css') }}">
        <link rel="stylesheet" href="{{ asset('css/enteteEtNavbar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
        {% block stylesheets %}{% endblock %}
    </head>

    {# Div pour assombrir l'écran quand le menu burger est ouvert #}
    <div id ="bodyDark"></div>
    <body id="bodyId">
        <header>
            {% include 'components/enteteEtNavbar.html.twig' %}
        </header>
        <main>
            {% for message in app.flashes('succes') %}
                <div class="conteneurMessageFlash">
                    <div class="messageFlash">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
		        <div class="conteneurMessageFlash">
			        <div class="messageFlash messageFlash-alert">
				        {{ message }}
			        </div>
		        </div>
	{% endfor %}
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'components/footer.html.twig' %}
        </footer>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/navbar.js') }}"></script>
    </body>
</html>
