<div class="header-wrapper">
   <div class="header-panel">
      <a href="{{ path('home') }}">
         <div class="logo-panel">
            <div class="logo-image">
               <img src="{{ asset('images/logo_ba_6.png') }}" alt="logo blue angels">
            </div>
            <h1 class="logo-titre">
               {{ SiteName }}
            </h1>
         </div>
      </a>
   </div>

   {# ================= Menu ==================== #}
   <div id="burger">
      <div id="burgerBarre1"></div>
      <div id="burgerBarre2"></div>
      <div id="burgerBarre3"></div>
   </div>

   <nav class="bg-blue" id ="nav">
      <ul class="ulMenuGeneral">
         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'home' %}
                  active
               {% endif %}">
               Accueil
            </a>
         </li>

         {# ======== Sous-menu /ON =========== #}
         <li>
            <button
               class="btDropdown"
               onclick="toggleMenu('menuDanses')">
               Danses
               <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-content" id ="menuDanses">
               <li>
                  <a href="{{ path('home') }}">
                     Salsa
                  </a>
               </li>
               <li>
                  <a href="{{ path('home') }}">
                     Bachata
                  </a>
               </li>
               <li>
                  <a href="{{ path('home') }}">
                     Chacha
                  </a>
               </li>
            </ul>
         </li>
         {# ======== Sous-menu /OFF =========== #}

         {# ======== Sous-menu /ON =========== #}
         <li>
            <button
               class="btDropdown"
               onclick="toggleMenu('menuEvenements')">
               Évènements
               <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-content" id ="menuEvenements">
               <li>
                  <a href="{{ path('home') }}">
                     Évènements à venir
                  </a>
               </li>
               <li>
                  <a href="{{ path('home') }}">
                     Évènements terminés depuis très longtemps
                  </a>
               </li>
            </ul>
         </li>
         {# ======== Sous-menu /OFF =========== #}

         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'tarifs' %}
                  active
               {% endif %}">
               Articles
            </a>
         </li>
         
         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'tarifs' %}
                  active
               {% endif %}">
               Tarifs
            </a>
         </li>

         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'qui_sommes_nous' %}
                  active
               {% endif %}">
               À Propos
            </a>
         </li>

         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'contact' %}
                  active
               {% endif %}">
               Contact
            </a>
         </li>

         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'admin' %}
                  active
               {% endif %}">
               Admin
            </a>
         </li>

         
      </ul>
   </nav>
</div> 