<div class="header-wrapper">
	<div class="header-panel">
		<a href="{{ path('home') }}">
			<div class="logo-panel-wrapper">
				<div class="logo-panel">
					<div class="logo-image">
						<img src="{{ asset('images/logo_ba_6.png') }}" alt="Association de danses latino-rock à Erstein">
					</div>
					<h1 class="logo-titre">
						{{ SiteName }}
					</h1>
				</div>
				<h2 class="decription-asso">
					Association de danses latino-rock à Erstein
				</h2>
			</div>
		</a>
	</div>


	{# ================= Menu ==================== #}
	<div id="burger">
		<div id="burgerBarre1"></div>
		<div id="burgerBarre2"></div>
		<div id="burgerBarre3"></div>
	</div>

	<nav class="theme-menu" id="nav">
		<ul class="ulMenuGeneral">
			{% if is_granted('ROLE_USER') %}
				{# ======== Sous-menu /ON =========== #}
				<li>
					<button class="btDropdown" onclick="toggleMenu('user')" title="Paramètres de {{ app.user.username }}">
						{# Filtre twig pour maximiser la longueur d'affichage du string email à environ 15 caractères. J'ai du installer composer require twig/string-extra #}
						<div>{{ app.user.username|u.truncate(10, '...') }}
							<i class="fas fa-lg fa-user"></i>
						</div>
						
					</button>
					<ul class="dropdown-content">
						<li>
							<a href="{{ path('app_logout') }}">
								Déconnexion
								<i class="fas fa-lg fa-sign-out-alt"></i>
							</a>
						</li>
						<li>
							<a href="{{ path('profile') }}">
								Profil
								<i class="fas fa-lg fa-user-pen"></i>
							</a>
						</li>
					</ul>
				</li>
				{# ======== Sous-menu /OFF =========== #}
			{% endif %}
			
			{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('admin') }}" title="Administration" class="
						{% if menu_courant is defined and menu_courant == 'admin' %}
						active
						{% endif %}">
								<i class="fas fa-lg fa-wrench"></i>
							</a>
						</li>
			{% elseif is_granted('ROLE_EDITOR')%}
						<li>
							<a href="{{ path('admin') }}" title="Edition des articles" class="
						{% if menu_courant is defined and menu_courant == 'admin' %}
						active
						{% endif %}">
								<i class="fas fa-lg fa-file-pen"></i>
							</a>
						</li>	
			{% endif %}

			<li>
				<a href="{{ path('home') }}" class="
			    {% if menu_courant is defined and menu_courant == 'home' %}
		      	  active
		        {% endif %}">
					<i class="fas fa-lg fa-home"></i>
				</a>
			</li>

			<li>
				<a href="{{ path('danses') }}" class="
				{% if menu_courant is defined and menu_courant == 'danses' %}
					active
				{% endif %}">
					Danses
				</a>
			</li>

			<li>
				<a href="{{ path('cours') }}" class="
				{% if menu_courant is defined and menu_courant == 'cours' %}
					active
				{% endif %}">
					Cours
				</a>
			</li>

			<li>
				<a href="{{ path('stages') }}" class="
				{% if menu_courant is defined and menu_courant == 'stages' %}
					active
				{% endif %}">
					Stages
				</a>
			</li>

			<li>
				<a href="{{ path('tarifs') }}" class="
				{% if menu_courant is defined and menu_courant == 'tarifs' %}
					active
				{% endif %}">
					Tarifs
				</a>
			</li>

			{# ======== Sous-menu /ON =========== #}
			<li>
				<button class="btDropdown">
					<div>Évènements</div>
				</button>
				<ul class="dropdown-content">
					<li>
						<a href="{{ path('a_venir') }}">
							À venir
						</a>
					</li>
					<li>
						<a href="{{ path('completed_events') }}">
							Passés
						</a>
					</li>
				</ul>
			</li>
			{# ======== Sous-menu /OFF =========== #}

			<li>
				<a href="{{ path('photos') }}" class="
												               {% if menu_courant is defined and menu_courant == 'photos' %}
												                  active
												               {% endif %}">
					Photos
				</a>
			</li>

			{# ======== Sous-menu /ON =========== #}
			<li>
				<button class="btDropdown">
					<div>Réseaux</div>
				</button>
				<ul class="dropdown-content">
					<li>
						<a href="https://www.facebook.com/LesBlueAngels/">
							<i class="fab fa-lg fa-facebook-f"></i>
							Facebook
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UCt7qbdHcwJOYEcn2j3ztNGg/">
							<i class="fab fa-lg fa-youtube"></i>
							Youtube
						</a>
					</li>
				</ul>
			</li>
			{# ======== Sous-menu /OFF =========== #}

			{# ======== Sous-menu /ON =========== #}
			<li>
				<button class="btDropdown">
					<div>À propos</div>
				</button>
				<ul class="dropdown-content">
					<li>
						<a href="{{ path('historique.asso') }}">
							Historique
						</a>
					</li>
					<li>
						<a href="{{ path('trombinoscope') }}">
							Trombinoscope
						</a>
					</li>
					<li>
						<a href="{{ path('adresse') }}">
							Adresse
						</a>
					</li>
				</ul>
			</li>
			{# ======== Sous-menu /OFF =========== #}

			<li>
				<a href="{{ path('contact') }}" class="
												            {% if menu_courant is defined and menu_courant == 'contact' %}
												               active
												            {% endif %}">
					Contact
				</a>
			</li>

			{# ======== Sous-menu /ON =========== #}
			<li>
				<button class="btDropdown">
					<div>plus</i></div>
				</button>
				<ul class="dropdown-content">
					<li>
						<a href="{{ path('partenaires') }}">
							Partenaires
						</a>
					</li>
				</ul>
			</li>
			{# ======== Sous-menu /OFF =========== #}

		</ul>
	</nav>
</div>
