<div class="header-wrapper">
   <div class="header-panel">
      <a href="{{ path('home') }}">
         <div class="logo-panel-wrapper">
            <div class="logo-panel">
               <div class="logo-image">
                  <img src="{{ asset('images/logo_ba_6.png') }}" alt="logo blue angels">
               </div>
               <h1 class="logo-titre">
                  {{ SiteName }}
               </h1>
            </div>
            <h2 class="decription-asso">
               Association de danses latino-rock
            </h2>
         </div>
      </a>
   </div>

   {# ================= Menu ==================== #}
   <div id="burger">
      <div id="burgerBarre1"></div>
      <div id="burgerBarre2"></div>
      <div id="burgerBarre3"></div>
   </div>

   <nav class="theme-menu" id="nav">
      <ul class="ulMenuGeneral">
         {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
          {# ======== Sous-menu /ON =========== #}
         <li>
            <button class="btDropdown" onclick="toggleMenu('user')" title="Paramètres de {{ app.user.username }}">
               <i class="fas fa-lg fa-user-cog"></i>
               <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-content" id="user">
               <li>
                  <a href="{{ path('app_logout') }}">
                     {{ app.user.username }}: Déconnexion 
                     <i class="fas fa-lg fa-sign-out-alt"></i>
                  </a>
               </li>
            </ul>
         </li>
         {# ======== Sous-menu /OFF =========== #}
         <li>
            <a href="{{ path('admin') }}" title="Administration">
               <i class="fas fa-lg fa-wrench"></i>
            </a>
         </li>
         {% endif %}

         <li>
            <a href="{{ path('communiques') }}" title="Communiqués" class="
               {% if menu_courant is defined and menu_courant == 'communiques' %}
                  active
               {% endif %}">
               <i class="fas fa-comment icone-communiques-calque-0"></i>
               <i class="fas fa-info blue icone-communiques-calque-1"></i>
            </a>
         </li>

         <li>
            <a href="{{ path('home') }}" class="
               {% if menu_courant is defined and menu_courant == 'home' %}
                  active
               {% endif %}">
               Accueil
            </a>
         </li>

         <li>
            <a href="{{ path('danses') }}" class="
               {% if menu_courant is defined and menu_courant == 'communiques' %}
                  active
               {% endif %}">
               Danses
            </a>
         </li>
         
         <li>
            <a href="{{ path('cours') }}" class="
               {% if menu_courant is defined and menu_courant == 'cours' %}
                  active
               {% endif %}">
               Cours
            </a>
         </li>

         <li>
            <a href="{{ path('stages') }}" class="
               {% if menu_courant is defined and menu_courant == 'stages' %}
                  active
               {% endif %}">
               Stages
            </a>
         </li>
         

         {# ======== Sous-menu /ON =========== #}
         <li>
            <button class="btDropdown" onclick="toggleMenu('menuEvenements')">
               Évènements
               <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-content" id="menuEvenements">
               <li>
                  <a href="{{ path('a_venir') }}">
                     À venir
                  </a>
               </li>
               <li>
                  <a href="{{ path('completed_events') }}">
                     Passés
                  </a>
               </li>
            </ul>
         </li>
         {# ======== Sous-menu /OFF =========== #}

         <li>
            <a href="{{ path('photos') }}" class="
               {% if menu_courant is defined and menu_courant == 'photos' %}
                  active
               {% endif %}">
               Photos
            </a>
         </li>

         <li>
            <a href="{{ path('tarifs') }}" class="
               {% if menu_courant is defined and menu_courant == 'tarifs' %}
                  active
               {% endif %}">
               Tarifs
            </a>
         </li>

         <li>
            <a href="{{ path('articles') }}" class="
               {% if menu_courant is defined and menu_courant == 'articles' %}
                  active
               {% endif %}">
               Articles
            </a>
         </li>

         {# ======== Sous-menu /ON =========== #}
         <li>
            <button class="btDropdown" onclick="toggleMenu('menuAPropos')">
               À propos
               <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-content" id="menuAPropos">
               <li>
                  <a href="{{ path('historique.asso') }}">
                     Historique
                  </a>
               </li>
               <li>
                  <a href="{{ path('trombinoscope') }}">
                     Trombinoscope
                  </a>
               </li>
               <li>
                  <a href="{{ path('adresse') }}">
                     Adresse
                  </a>
               </li>
            </ul>
         </li>
         {# ======== Sous-menu /OFF =========== #}

         <li>
            <a href="{{ path('contact') }}">
               Contact
            </a>
         </li>

         {# ======== Sous-menu /ON =========== #}
         <li>
            <button class="btDropdown" onclick="toggleMenu('partenaires')">
               PLus
               <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-content" id="partenaires">
               <li>
                  <a href="{{ path('partenaires') }}">
                     Partenaires
                  </a>
               </li>
            </ul>
         </li>
         {# ======== Sous-menu /OFF =========== #}
      </ul>
   </nav>
</div>