<div class="header-wrapper">
   <div class="header-panel">
      <a href="{{ path('home') }}">
         <div class="logo-panel">
            <div class="logo-image">
               <img src="{{ asset('images/logo_ba_6.png') }}" alt="logo blue angels">
            </div>
            <h1 class="logo-titre">
               Les blue angels
            </h1>
         </div>
      </a>
   </div>

 {# ================= Menu ==================== #}
   <nav class="bg-blue">
      <ul>
         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'home' %}
                  active
               {% endif %}">
               Accueil
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'danses' %}
                  active
               {% endif %}">
               Danses
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'tarifs' %}
                  active
               {% endif %}">
               Tarifs
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'qui_sommes_nous' %}
                  active
               {% endif %}">
               Qui sommes-nous ?
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}"
               class="
               {% if menu_courant is defined and menu_courant == 'contact' %}
                  active
               {% endif %}">
               Contact
            </a>
         </li>
      </ul>
   </nav>
</div> 