<div class="header-wrapper">
   <div class="logo-wrapper">
      
         <a class="logo" href="">
            <img src="{{ asset('images/logo_ba_6.png') }}" alt="logo blue angels">
         </a>
         <a class="textes-a-cote-logo" href="">
            <div class="nom-asso">
               <h1>
                  Les blue angels
               </h1>
            </div>
            <div class="danses-latino-rock-a-erstein">
               <h1>
                  Danses latino-rock à erstein
               </h1>
            </div>
            <div class="nom-des-danses">
               <div class="groupe-danses-1">
                  <p>Salsa</p>
                  <p>Cha-Cha</p>
               </div>
               <div class="groupe-danses-2">
                  <p>Bachata</p>
                  <p>rock 'n' Roll</p>
               </div>
            </div>
         </a>
   </div>

 {# ================= Menu ==================== #}
   <nav>
      <ul>
         <li>
            <a href="{{ path('home') }}">
                  {% if menu_courant is defined and menu_courant == 'home' %}
                     active
                  {% endif %}
                  Accueil
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}">
                  {% if menu_courant is defined and menu_courant == 'home' %}
                     active
                  {% endif %}
                  Danses
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}">
                  {% if menu_courant is defined and menu_courant == 'home' %}
                     active
                  {% endif %}
                  Tarifs
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}">
                  {% if menu_courant is defined and menu_courant == 'home' %}
                     active
                  {% endif %}
                  À propos
            </a>
         </li>
         <li>
            <a href="{{ path('home') }}">
                  {% if menu_courant is defined and menu_courant == 'home' %}
                     active
                  {% endif %}
                  Contact
            </a>
         </li>
      </ul>
   </nav>
</div> 