<div class="header-wrapper">
   <div class="logo-wrapper">
      <div class="logo">
         <img src="{{ asset('images/logo_ba_6.png') }}" alt="logo blue angels">
      </div>
      <div class="textes-a-cote-logo">
         <div class="danses-latino-rock-a-erstein">
            <h1>Danses latino-rock à erstein</h1>
         </div>
         <div class="nom-des-danses">
            <div class="groupe-danses-1">
               <p>Salsa</p>
               <p>Cha-Cha</p>
            </div>
            <div class="groupe-danses-2">
               <p>Bachata</p>
               <p>rock 'n' Roll</p>
            </div>
         </div>
      </div>
   </div>

 {# ================= Menu ==================== #}
      <nav>
         <ul>
            <li>
               <a href="{{ path('home') }}">
                     {% if menu_courant is defined and menu_courant == 'home' %}
                        active
                     {% endif %}
                     Accueil
               </a>
            </li>
            <li>
               <a href="{{ path('home') }}">
                     {% if menu_courant is defined and menu_courant == 'home' %}
                        active
                     {% endif %}
                     À propos
               </a>
            </li>
            <li>
               <a href="{{ path('home') }}">
                     {% if menu_courant is defined and menu_courant == 'home' %}
                        active
                     {% endif %}
                     Tarifs
               </a>
            </li>
            <li>
               <a href="{{ path('home') }}">
                     {% if menu_courant is defined and menu_courant == 'home' %}
                        active
                     {% endif %}
                     Contact
               </a>
            </li>
         </ul>
      </nav>
</div> 