<div class="footer">

	{# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">{{ SiteName }}</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="{{ path('home') }}">Accueil</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('communiques') }}">Communiqués</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('danses') }}">Danses</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('cours') }}">Cours</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('stages') }}">Stages</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('partenaires') }}">Partenaires</a>
				</div>
			</div>
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="{{ path('a_venir') }}">Évènements à venir</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('completed_events') }}">Évènements passés</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('photos') }}">photos</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('tarifs') }}">Tarifs</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('articles') }}">Articles</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('mentions.legales') }}">Mentions légales</a>
				</div>
			</div>
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="{{ path('historique.asso') }}">Historique Association</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('trombinoscope') }}">Trombinoscope</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('adresse') }}">Adresse</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('contact') }}">Contact</a>
				</div>
			</div>
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="https://www.facebook.com/LesBlueAngels/" target="_blank">
						<i class="fab fa-2x fa-facebook-f"></i>
					</a>
				</div>
				<div class="itemMention">
					<a href="https://www.youtube.com/channel/UCt7qbdHcwJOYEcn2j3ztNGg/" target="_blank">
						<i class="fab fa-2x fa-youtube"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

	{# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">Droits d'usage</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a target="_blank" title="https://unsplash.com - Dancing in the shadow - Ardian Lumi"
						href="https://unsplash.com/photos/6Woj_wozqmA">unsplash.com
					</a>
				</div>
			</div>
		</div>
	</div>


	{# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">Site web</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2">
				<div class="itemMention">Développé par Éric SCHEFFER
					<a target="_blank" title="Github" href="https://github.com/Eric-SCHEFFER">
						<i class="fab fa-github"></i>
					</a>
				</div>
				<div class="itemMention">
					Version: {{ siteVersion }}
				</div>
			</div>
		</div>
	</div>

</div>