<div class="footer">

   {# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">{{ SiteName }}</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="{{ path('home') }}">Accueil</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('home') }}">Danse</a>
				</div>
			</div>
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="{{ path('home') }}">Tarifs</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('home') }}">À propos</a>
				</div>
			</div>
			<div class="blocMentionsNiv-2">
            <div class="itemMention">
					<a href="{{ path('home') }}">Contact</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('home') }}">Mentions légales</a>
				</div>
			</div>
		</div>
   </div>
   
{# ====== BLOC DE MENTIONS ====== #}
   <div class="blocMentions">
      <h6 class="h6-blocMentions">Droits d'usage</h6>
      <div class="blocMentionsNiv-1">
         <div class="blocMentionsNiv-2">
            <div class="itemMention">
               <a target="_blank" title="https://unsplash.com - Dancing in the shadow - Ardian Lumi" href="https://unsplash.com/photos/6Woj_wozqmA">unsplash.com
               </a>
            </div>
         </div>
      </div>
   </div>


   {# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">réalisation du site</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2">
				<div class="itemMention">Éric SCHEFFER
					<a target="_blank" title="Github" href="https://github.com/Eric-SCHEFFER">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>