{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/adminTableCrud.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

<div class="conteneur_table">
	<div class="table-admin-dashboard">
		<div>
			<a class="boutonNew boutonFlecheGauche" href="{{ path(pathBoutonPasseAvenir) }}" title="{{ titleBoutonPasseAvenir }}">
				<i class="fas fa-arrow-left fa-lg flecheGauche"></i>
				{{ texteBoutonPasseAvenir }}
			</a>
		</div>
		<div>
			<a class="boutonNew" href="{{ path('admin.events.nouveau') }}" title="Créer un nouvel évènement">Nouveau
			</a>
		</div>
	</div>
	<table class="table_1">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			{% if events is not empty %}
				{% for event in events %}
					<tr>
						<td>
							<div class="blocTitreImage">
								<div class="titreEtInfos">
									{% if event.getAnnule() %}
										<div class="annule" title="Évènement annulé">
											{{ event.nom }}
										</div>
									{% else %}
										{{ event.nom }}
									{% endif %}
									<div class="date">
										{{ event.getDateEvent()|date("d-m-Y") }}
									</div>
									<div
										class="table-icones-infos">
										{# ==== On affiche le nbre d'images ==== #}
										<div class="nbreImages" title="Nombre d'images: {{ event.getImagesEvents | length }}">
											<i class="fas fa-file-image fa-lg"></i>
											{{ event.getImagesEvents | length }}
										</div>
									</div>
								</div>
								{% if event.getImagesEvents[0] is defined %}
									{# On affiche l'image de l'event #}
									<img src="{{ asset('uploads/imagesEvents/' ~ 'min_' ~ event.getImagesEvents[0].Nom) }}">
								{% else %}
									{# On affiche l'image de remplacement par défaut #}
									<img title="Aucune image de disponible" src="{{ asset('images/min_imageDefaut.jpg') }}">
								{% endif %}
							</div>
						</td>
						<td>
							<a class="iconeEditer" href="{{ path('admin.events.edit', {id: event.id}) }}" title="Éditer"></a>

							{# formulaire avec champ caché (passer la valeur delete) pour supprimmer un évènement #}
							<form class="deleteForm" method="post" action="{{ path('admin.event.delete', {id: event.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer {{ event.nom }} ?')">
								<input
								type="hidden" name="_method" value="DELETE"/>
								{# On créé un token #}
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}"/>
								<button class="iconeSupprimer" title="Supprimer"></button>
							</form>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>
