{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cardApercuArticle.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{#
On affiche les aperçus des elements, s'il y en a, dans des cards.
Chaque card est cliquable, et renvoi vers la fullPage de l'element.
#}


{% if events is not empty %}
	<div class="bloc-cards">
		{% for event in events %}
			<a class="card-article" href="{{ path('event_', {id: event.id}) }}" title="{{ event.getNom ~ ' | ' ~ event.getHook ~ ' | ' ~ event.getDateEvent | format_datetime(pattern="EEEE dd LLLL yyyy HH:mm", locale="fr") | capitalize ~ ' | ' ~ event.getVille }}">

				{# Info jours avant l'event dans une petite étiquette incrustée en haut à gauche de la carte #}
				{% if epoque == 'futur' %}
					{% for j in 0..20 %}
							{% if j == 0 %}
								{# Si l'event est aujourd'hui #}
								{% if event.getDateEvent()|date("Y-m-d") == today|date("Y-m-d")|date("Y-m-d") %}
								<div class="etiquette-decompte-jours-event">
										<div class="contenu-etiquette-decompte-jours-event">
											<div class="bloc-milieu aujourdhui green">{{ event.getDateEvent | date("H:i") }}</div>
										</div>
									</div>
								{% endif %}
							{% elseif j == 1 %}
								{# Si l'event est demain #}
								{% if event.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
									<div class="etiquette-decompte-jours-event">
										<div class="contenu-etiquette-decompte-jours-event blue">
											<div class="bloc-milieu">D</div>
											<div class="bloc-bas">Demain</div>
										</div>
									</div>
								{% endif %}
							{% else %}
								{# Si l'event est plus tard #}
								{% if event.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
								<div class="etiquette-decompte-jours-event">
									<div class="contenu-etiquette-decompte-jours-event">
										<div class="bloc-haut">Dans</div>
										<div class="bloc-milieu">{{ j }}</div>
										<div class="bloc-bas">Jours</div>
									</div>
								</div>
								{% endif %}
							{% endif %}
					{% endfor %}
				{% endif %}

				{% if event.getImagesEvents[0].getNom() is defined %}
					<div class="image">
						<img src="{{ asset('uploads/imagesEvents/' ~ 'min_' ~ event.getImagesEvents[0].Nom) }}" alt="">
					</div>
				{% endif %}
				<div class="bloc-text">
               {% if event.getAnnule %}
                  <div class="tampon-oblique-red">Évènement annulé</div>
               {% endif %}
					<h3 class="titre">{{ event.getNom() }}</h3>
					<div class="hook">{{ event.getHook() }}</div>

					{% if event.getImagesEvents[0].getNom() is defined %}
						<div class="bouton bt-small bt-card-event">Voir</div>
						{% else %}
						<div class="bouton bt-small bt-card-event bt-card-event-sans-image">Voir</div>
					{% endif %}

					<div class="info-epoque-event">
						{# Quand l'event est organisé par les ba, on met un petit logo des ba #}
						{% if event.getEventBlueAngels %}
							<div class="event-blue-angels">
								<img src="{{ asset('images/favicon.png') }}" alt='Icone des Blue Angels'>
							</div>
						{% endif %}
						{% if epoque == 'passé' %}
							<span class="info-jour">Terminé</span>
						{% endif %}

						
					</div>

					<div class="infos">
						<div class="articles-date">
							<i class="fas fa-calendar-alt"></i>
							{{ event.getDateEvent()|date("d-m-Y") }}
						</div>
						{% if event.ImagesEvents | length > 1 %}
							<div class="articles-nbr-images">
								<i class="fas fa-file-image"></i>
								{{ event.ImagesEvents | length }}
							</div>
						{% endif %}
						{% if event.epingle %}
							<div class="articles-epingle-on">
								<i class="fas fa-thumbtack orangered"></i>
							</div>
						{% endif %}

					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endif %}
