{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cardApercuArticle.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{#
On affiche les aperçus des elements, s'il y en a, dans des cards.
Chaque card est cliquable, et renvoi vers la fullPage de l'element.
#}


{% if events is not empty %}
	<div class="bloc-cards">
		{% for event in events %}
			<a class="card-article" href="{{ path('event_', {id: event.id}) }}" title="{{ event.getNom ~ ' | ' ~ event.getHook }}">
				{% if event.getImagesEvents[0].getNom() is defined %}
					<div class="image">
						<img src="{{ asset('uploads/imagesEvents/' ~ 'min_' ~ event.getImagesEvents[0].Nom) }}" alt="">
					</div>
				{% endif %}
				<div class="bloc-text">
               {% if event.getAnnule %}
                  <div class="tampon-oblique-red">Évènement annulé</div>
               {% endif %}
					<h3 class="titre">{{ event.getNom() }}</h3>
					<div class="hook">{{ event.getHook() }}</div>

					{% if event.getImagesEvents[0].getNom() is defined %}
						<div class="bouton bt-small bt-card-event">Voir</div>
						{% else %}
						<div class="bouton bt-small bt-card-event bt-card-event-sans-image">Voir</div>
					{% endif %}

					<div class="info-epoque-event">
						{% if epoque == 'futur' %}
							{% for j in 0..7 %}
								{% if j == 0 %}
									{% if event.getDateEvent()|date("Y-m-d") == today|date("Y-m-d")|date("Y-m-d") %}
										<span class="info-jour green tres-gras">Aujourd'hui</span>
									{% endif %}
								{% elseif j == 1 %}
									{% if event.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
										<span class="info-jour blue tres-gras">Demain</span>
									{% endif %}
								{% else %}
									{% if event.getDateEvent()|date("Y-m-d") == today|date_modify("+"~ j ~" day")|date("Y-m-d") %}
										<span class="info-jour blue tres-gras">J-{{ j }}</span>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% else %}
							<span class="info-jour">Terminé</span>
						{% endif %}
					</div>

					<div class="infos">
						<div class="articles-date">
							<i class="fas fa-calendar-alt"></i>
							{{ event.getDateEvent()|date("d-m-Y") }}
						</div>
						{% if event.ImagesEvents | length > 1 %}
							<div class="articles-nbr-images">
								<i class="fas fa-file-image"></i>
								{{ event.ImagesEvents | length }}
							</div>
						{% endif %}

					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endif %}
