{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}
	{{ SiteName }}: Évènements passés
{% endblock %}

{% block body %}
	<div class="wrapper">
		{% set countPasse = countTotalCompletedEvents[0][1] %}
		{% set countAVenir = countTotalEventsToCome[0][1] %}

		<h1>
			Évènements passés
		</h1>
		{% if countAVenir > 0 %}
			<h4>Voir aussi
				<a class="bouton bt2" href="{{ path('a_venir') }}" title="{{ countAVenir }} évènement(s) à venir">
					Évènements à venir ({{ countAVenir }})
				</a>
			</h4>
		{% endif %}
		<section class="events">
			{{ include ('events/_eventsBase.html.twig') }}
		</section>
	</div>
{% endblock %}
